.archipelago {
  position: relative;
  border: 1px dashed #555;
  overflow: hidden;
  width: 700px;
  height: 500px;
}

.isle {
  position: absolute;
  border: 1px inset #212121;
  border-radius: 10px 10px 3px 3px;
  background-color: #1e1e1e;
  overflow: hidden;
}

.isle .isle-content {
  padding-top: 25px;
  height: 100%;
  background-color: #1e1e1e;
}

.isle .isle-content * {
  pointer-events: none;
}

.isle .isle-header {
  position: absolute;
  width: 100%;
  height: 25px;
  z-index: 1;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#282828), to(#212121));
  background-image: linear-gradient(#282828, #212121);
  color: white;
}

.isle .isle-header .isle-header-center {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-left: 7px;
}

.isle .isle-header .isle-header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.isle .isle-header .isle-header-right > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}

.isle .isle-header svg {
  max-height: 100%;
  margin: 0;
  padding: 0;
  height: 18px;
}

.isle .isle-header svg path {
  fill: white;
}

@-webkit-keyframes hiding-header {
  from {
    height: 25px;
  }
  to {
    height: 1px;
  }
}

@keyframes hiding-header {
  from {
    height: 25px;
  }
  to {
    height: 1px;
  }
}

.isle.hiding-frame {
  border: 0;
}

.isle.hiding-frame .isle-header {
  -webkit-animation: hiding-header 0.05s linear;
          animation: hiding-header 0.05s linear;
  height: 1px;
}

.isle.hiding-frame .isle-content {
  background: transparent;
}

.isle.no-frame {
  border: 0;
}

.isle.no-frame .isle-content {
  background: transparent;
}
